{%extends "base.html"%}
{%load static%}


{%block page_title%} {{name}} {% endblock %}
{% block css_files%}
  <link rel="stylesheet" href="{% static "blog/post-detail.css"%}"/>
{%endblock%}

{%block content%}

<header id="main-navigation">
  <h1><a href="{% url "index" %}">Eric's Blog</a></h1>
  <nav>
    <a href="{% url "posts" %}">All Posts</a>
  </nav>
</header>

  <section id="summary">
    <h2>{{post.title}}</h2>
    <div>
      {%for tag in post_tags %}
        <span class = "tag">{{tag.caption}}</span>
      {%endfor%}

    </div>
    <article>
      <img src="{% static "blog/images/"|add:post.image_name %}" alt ="Post Title" />
      <address>By <a href="mailto: {{post.author.email_address}}">{{post.author}}</a></address>
      <div>
        Last updated on <time>{{post.date}}</time>
      </div>
    </article>
  </section>

  <main>
    
    <p>
      {{post.excerpt}}
    </p>
    <p>
      {{post.content}}
    </p>


  </main>

  <section id="comment-section">
    <form method="POST" action="{%url "post" post.slug %}">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-control {% if field.errors %} errors {% endif %}">
          {{field.label_tag}}
          {{field}}
          {{field.errors}}
        </div>
        
        {% endfor %}
        <button type="submit">Send</button>
    </form>

  </section>

  <section id="all-comments">
    <h4>Comments:</h4>
    <ul>
    {% for comment in post.all_comments.all %}
      <div class="comment-div"><li>{{comment.comment}}</li></div>
    {% endfor %}
    </ul>
    
      
  </section>

  
    


{% endblock %}




