{% extends "base.html"%}
{% load static %}

{% block page_title%}
  All posts
{%endblock%}

{%block css_files%}
  <link rel="stylesheet" href = "{%static "blog/all-posts.css"%}">
{%endblock%}

{%block content%}
<header id="main-navigation">
  <h1><a href="{% url "index" %}">Eric's Blog</a></h1>
  <nav>
    <a href="{% url "posts" %}">All Posts</a>
  </nav>
</header>

<section id="all-posts">
  <h2>My Latest Thoughts</h2>
  <ul>
  {%for post in posts%}
    
    <li>
      <article class="post">
        <a href = "{% url "post" post.slug %}"> 
          <img src="{% static "blog/images/"|add:post.image_name %}" alt ="{post.name}"/>
          <div class="post_content">
            <h3>
              {{post.title}} <!--This dot notation is not the typical way to access dictionary values, but the DTL makes it possible. it could be post["name"]-->
            </h3>
            <p>{{post.excerpt}}</p>
          </div>
        </a>
      </article>
    </li>
  

  {%endfor%}
  </ul>
</section>
  

{% endblock %}